@model Consumer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<h1>Mi Perfil</h1>

        <p>Nombre: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Password: @Model.Password</p> 

<form asp-action="Update" method="post">
    <!-- Aquí van los controles para modificar los datos -->
    <button type="submit">Guardar cambios</button>
</form>
</body>
</html>
